<div id="contenedorListaCompetidores" class="container mt-5">
    <h1 class="text-center mb-4">Lista de Expertos</h1>
    <div class="mb-3">
        <label for="search" class="form-label">Buscar por Nombre</label>
        <input
            type="text"
            id="search"
            class="form-control"
            [(ngModel)]="searchText"
            placeholder="Escribe el nombre para filtrar"
        />
    </div>

    <div class="mb-3 text-right">
        <button class="btn btn-primary" (click)="abrirFormulario(modalContent)">Nuevo</button>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col" (click)="ordenarPor('id')">ID</th>
                <th scope="col" (click)="ordenarPor('dni')">DNI</th>
                <th scope="col" (click)="ordenarPor('nombre')">Nombre</th>
                <th scope="col" (click)="ordenarPor('username')">Username</th>
                <th scope="col" (click)="ordenarPor('specialtyName')">Especialidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ex of listExpert | filter:searchText">
                <td>{{ ex.id }}</td>
                <td>{{ ex.dni }}</td>
                <td>{{ ex.nombre }}</td>
                <td>{{ ex.username }}</td>
                <td>{{ ex.specialtyName }}</td>
                <td>
                    <button class="btn btn-warning btn-sm" (click)="editarExperto(ex, modalContent)">Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="confirmDelete(ex.id, confirmDeleteModal)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #modalContent let-modal >
        <div class="modal-header bg-dark"></div>
        <div class="modal-header">
            <h5 class="modal-title" id="modalFormularioLabel">{{ isEditing ? 'Editar Experto' : 'Agregar Experto' }}</h5>
            <button type="button" class="btn-close" (click)="modal.close()"></button>
        </div>
        <div class="modal-body">
            <form #expertForm="ngForm" (ngSubmit)="guardarExperto()">
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input
                        type="text"
                        id="dni"
                        class="form-control"
                        [(ngModel)]="experto.dni"
                        name="dni"
                        required
                        pattern="^[0-9]{8}[A-Za-z]$"
                        #dniInput="ngModel"
                    >
                    <div *ngIf="dniInput.invalid && (dniInput.dirty || dniInput.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="dniInput.errors?.['required']">El DNI es requerido.</div>
                        <div *ngIf="dniInput.errors?.['pattern']">El DNI debe tener 8 números y una letra.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input
                        type="text"
                        id="nombre"
                        class="form-control"
                        [(ngModel)]="experto.nombre"
                        name="nombre"
                        required
                        #nombreInput="ngModel"
                    >
                     <div *ngIf="nombreInput.invalid && (nombreInput.dirty || nombreInput.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="nombreInput.errors?.['required']">El Nombre es requerido.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username (Correo Electrónico)</label>
                    <input
                        type="email"  id="username"
                        class="form-control"
                        [(ngModel)]="experto.username"
                        name="username"
                        required
                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                        #usernameInput="ngModel"
                    >
                     <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="usernameInput.errors?.['required']">El Correo Electrónico es requerido.</div>
                        <div *ngIf="usernameInput.errors?.['pattern']">Formato de correo electrónico no válido.</div>
                    </div>
                </div>
                <div class="mb-3" *ngIf="!isEditing">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="text"
                        id="password"
                        class="form-control"
                        [(ngModel)]="experto.password"
                        name="password"
                        required
                        minlength="6"
                        #passwordInput="ngModel"
                    >
                     <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="passwordInput.errors?.['required']">La Password es requerida.</div>
                        <div *ngIf="passwordInput.errors?.['minlength']">La Password debe tener al menos 6 caracteres.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="especialidad" class="form-label">Especialidad</label>
                    <select
                        id="especialidad"
                        class="form-control"
                        name="especialidad"
                        required
                        [(ngModel)]="experto.specialtyId"
                        #especialidadInput="ngModel"
                        [ngStyle]="{ 'max-height': '200px', 'overflow-y': 'auto' }">
                        <option *ngIf="isEditing" [ngValue]="experto.specialtyId" > {{ experto.specialtyName }} </option>
                        <option *ngIf="!isEditing" [ngValue]="null">Seleccione una especialidad</option>
                        <option *ngFor="let specialty of listSpecialty" [ngValue]="specialty.id">
                            {{ specialty.name }}
                        </option>
                    </select>
                     <div *ngIf="especialidadInput.invalid && (especialidadInput.dirty || especialidadInput.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="especialidadInput.errors?.['required']">La Especialidad es requerida.</div>
                    </div>
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                </div>
                <button type="submit" class="btn btn-success" [disabled]="expertForm.invalid">{{ isEditing ? 'Guardar Cambios' : 'Agregar Experto' }}</button>
            </form>
        </div>
    </ng-template>
    <ng-template #confirmDeleteModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Confirmar Eliminación</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            ¿Está seguro de que desea eliminar este experto?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="delete(selectedExpertId); modal.close()">Eliminar</button>
        </div>
    </ng-template>

</div>